
header {
    background-color: rgb(24, 32, 95);
    color: rgb(166, 238, 244);
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    margin-top: 20px;
  }
  
  nav a {
    color: rgb(166, 238, 244);
    text-decoration: none;
    margin-right: 20px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }